.main-slider.swiper-container.__js_main-slider
  .swiper-wrapper 
    - let slideCount = 0;
    while slideCount < 4
      .main-slider__slide.swiper-slide
        .container
          .main-slider__slide-content 
            .main-slider__slide-pretitle Информационная безопасность
            .main-slider__slide-title Защитная прошивка для IoT
            .main-slider__slide-text Создавайте IoT-устройства “безопасные по дизайну”
            a.main-slider__slide-btn.button.button--large(href="#") Подробнее
              span.button__icon 
                +svg('#altrix_arrow-right')(width="18", height="12")
      
      - slideCount++;
    
  .main-slider__bottom.container
    .main-slider__pag.paginate