.button {
  $self: &;
  position: relative;
  z-index: 0;
  overflow: hidden;

  display: inline-flex;
  padding: 11px 34px;
  font-size: 15px;
  line-height: 1.2;
  color: $color-white;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  background-color: #446bb2;

  &__icon {
    margin-left: 8px;
    margin-right: 7px;
    align-self: center;
    transition: 0.2s;

    svg {
      fill: $color-white;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #446bb2;
    background-image: linear-gradient(
      270deg,
      #6d489e 0%,
      rgba(58, 67, 151, 0) 100%
    );

    transition: transform 0.6s ease;
  }

  &:hover,
  &:focus {
    outline: none;
    #{$self}__icon {
      transform: translateX(6px);
    }

    &::before {
      transform: translateX(50%);
    }
  }

  &:active {
    opacity: 0.7;
  }

  &--large {
    padding: 15px 59px;
    font-size: 19px;
    line-height: 1.1;

    #{$self}__icon {
      margin-right: 0;
    }
  }

  &--outline {
    padding: 9px 19px 8px 23px;
    font-size: 15px;
    line-height: 1.4;
    color: $color-blue;
    border: solid 1px $color-blue;
    border-radius: 5px;
    transition: 0.2s;
    background: transparent;
    #{$self}__icon {
      margin: 0 8px 0 0;
      align-self: center;
      transition: 0.2s;

      svg {
        display: block;
        fill: $color-blue;
      }
    }

    span {
      align-self: center;
    }

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-blue;

      #{$self}__icon {
        transform: translateX(0);

        svg {
          fill: $color-white;
        }
      }
    }
  }
}
