.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    a {
      display: inline-flex;
      font-size: 19px;
      line-height: 1.1;
      color: $grey-cf;
      font-weight: 500;
      transition: 0.2s;

      @include tMax {
        font-size: 16px;
      }

      svg {
        margin-left: 12px;
        align-self: center;
        fill: $grey-cf;
        transition: 0.2s;
      }

      &:hover,
      &:focus {
        outline: none;
        color: $mainColor;

        svg {
          fill: $mainColor;
        }
      }

      &:active {
        opacity: 0.7;
      }
    }

    &--current {
      a {
        color: $mainColor;
        pointer-events: none;
      }
    }
  }

  &__item + &__item {
    margin-left: 12px;
  }
}
