.burger {
  position: relative;
  display: flex;
  width: 21px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  appearance: none;
  cursor: pointer;

  span {
    width: 100%;
    height: 3px;
    background-color: $blue;
    transition: 0.2s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0; //50%;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $blue;
      transition: 0.2s;
      //margin-top: -9px;
      //margin-left: -13px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0; //50%;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $blue;
      transition: 0.2s;
      //margin-top: 9px;
      //margin-left: -13px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &.is-active {
    span {
      background-color: transparent;

      &:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}
