html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $mainFont;
  font-size: 15px;
  line-height: 20px;
  color: $mainColor;
  background-color: $white;
}

* {
  outline: none !important;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Удалить круглые углы */
input[type="search"] {
  -webkit-appearance: none;
}

/* Скрыть кнопку отмены */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Скрыть лупу */
::-webkit-search-results-button {
  -webkit-appearance: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  /*&-flex {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		.main {
			width: calc(100% - 340px);
			margin-left: 40px;
			box-sizing: border-box;
			padding-top: 40px;

			.container {
				margin-left: 0;
			}

			@include dMax {
				width: 100%;
				padding-top: 103px;
				margin-left: 0;

				.container {
					margin-left: auto;
					margin-right: auto;
					width: calc(100% - 78px);

					@include pMax {
						width: calc(100% - 30px);
					}
				}
			}
		}
	}*/
}
