mixin breadcrumbs(arr, cl)
  ul(class= cl ? cl + ' breadcrumbs' : 'breadcrumbs')
    li.breadcrumbs__item 
      a(href="index.html") Главная
        +icon('separator')(width="8", height="14")
    each item, index in arr 
      if index === arr.length - 1
        li.breadcrumbs__item.breadcrumbs__item--current 
          a= item
      else
        li.breadcrumbs__item 
          a(href="#")= item