mixin method(image, title)
  .method
    .method__image 
      img(src="img/" + image + ".jpg", srcset="img/" + image + "@2x.jpg 2x", width="298", height="305", alt="")
    .method__main
      .method__title= title 
      .method__text Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия. Задача организации, в особенности же консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации. Равным образом рамки и место обучения кадров требуют от нас анализа новых предложений.
      .method__bottom
        +download-link('file-pdf', 'Брошюра', null, 'method__link')
        +download-link('file-doc', 'Опросный лист', null, 'method__link')