mixin news-card(className, img, title, text, date, tag)
  - let tg = tag ? tag : 'div';
  #{tg}(class= className ? className + ' news-card' : 'news-card')
    .news-card__image 
      img(src="img/" + img + ".jpg", srcset="img/" + img + "@2x.jpg 2x", width="250", height="250", alt="")
    .news-card__main 
      .news-card__title= title
      .news-card__text= text
      .news-card__bottom 
        if date
          .news-card__date 
            span.news-card__date-icon 
              +icon('clock')(width="20", height="20")
            time(datetime= date.attr)= date.text
        a.news-card__readmore.arrow-link(href="#") Подробнее
          +icon('triangle-right')(width="7", height="10")