include _icon.pug
include _button.pug
include _socials.pug
include _title.pug
include _date.pug
include _logo.pug
include _news-card.pug
include _breadcrumbs.pug
include _download-link.pug
include _tag.pug
include _method.pug
