mixin pagination(cl, num)
  - let count = num ? num : 5;
  div(class= cl ? cl + ' pagination' : 'pagination')
    ul.pagination__list
      - let i = 1;
      while i <= count
        if i === 1
          li.pagination__item.pagination__item--current 
            a.pagination__link= i 
        else 
          li.pagination__item 
            a.pagination__link(href="#")= i 
        - i++;