.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  padding: 15px 22px 14px;
  background-color: $white;
  border-bottom: solid 1px $grey;
  box-sizing: border-box;

  &__left,
  &__right {
    display: flex;

    & > * {
      align-self: center;
    }
  }

  &__right {
    margin-left: auto;
  }

  &__phone {
    display: flex;

    & > * {
      align-self: center;
    }

    & + & {
      margin-left: 22px;
    }

    &-icon {
      display: block;
      margin-right: 8px;
      fill: $blue-2;
    }

    span {
      font-size: 14px;
      line-height: 1.28571;
      color: $mainColor;
      transition: 0.2s;
    }

    &:hover,
    &:focus {
      outline: none;

      span {
        color: $blue-2;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__social {
    margin-left: 36px;
  }

  &__burger {
    margin-right: 24px;
  }

  &__lang {
    font-size: 16px;
    line-height: 1.25;
    color: $blue;

    &:hover,
    &:focus {
      outline: none;
      color: $blue-2;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__login {
    display: flex;
    margin-left: 34px;

    & > * {
      align-self: center;
    }

    svg {
      margin-right: 9px;
      fill: $blue;
      transition: 0.2s;
    }

    span {
      font-size: 14px;
      line-height: 1.21428;
      color: $blue;
      transition: 0.2s;
    }

    &:hover,
    &:focus {
      outline: none;

      span {
        color: $blue-2;
      }
      svg {
        fill: $blue-2;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }
}
