.contacts-section {
  padding: 58px 0 96px;

  &__container {
    display: flex;
    justify-content: space-between;

    @include tMax {
      display: block;
    }
  }

  &__main {
    max-width: 460px;
    margin-right: 20px;
    padding-top: 47px;

    @include tMax {
      margin-right: 0;
      margin-bottom: 50px;
      padding-top: 0;
    }

    &-title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 2.08333;
      font-weight: 500;
    }
  }

  &__title {
    margin: 0 0 42px;
    font-size: 39px;
    line-height: 1.282;
    font-weight: 700;
  }

  &__email {
    margin-bottom: 10px;

    svg {
      margin-right: 8px;
      fill: $blue;
    }

    a {
      font-family: $secondFont;
      font-size: 19px;
      line-height: 1.36842;
      color: $mainColor;
      transition: 0.2s;

      &:hover,
      &:focus {
        outline: none;
        color: $blue;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  &__phones {
    margin-bottom: 26px;

    svg {
      margin-right: 8px;
      fill: $blue;

      transform: translateY(4px);
    }

    a {
      font-family: $secondFont;
      font-size: 19px;
      line-height: 1.36842;
      color: $mainColor;
      transition: 0.2s;

      &:hover,
      &:focus {
        outline: none;
        color: $blue;
      }

      &:active {
        opacity: 0.7;
      }
    }

    a + a {
      margin-left: 20px;
    }
  }

  &__address {
    position: relative;
    margin-bottom: 5px;
    padding-left: 27px;
    font-family: $secondFont;
    font-size: 19px;
    line-height: 1.78947;
    font-style: normal;

    &-icon {
      position: absolute;
      top: 5px;
      left: 0;

      svg {
        fill: $blue;
      }
    }
  }

  &__requisite {
    margin-bottom: 36px;
    padding-left: 27px;
    font-family: $secondFont;
    font-size: 19px;
    line-height: 1.78947;

    p {
      margin: 0;
    }

    a {
      font-family: $mainFont;
      font-size: 15px;
      line-height: 1.7333;
      color: $blue;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  &__form {
    width: 100%;
    max-width: 690px;
    padding: 42px 58px 48px;
    border: solid 1px $grey-ef;
    border-radius: 5px;
    background-color: $grey-f8;

    @include dMax {
      max-width: 580px;
    }

    @include tMax {
      max-width: none;
    }

    @include mMax {
      padding: 24px 32px;
    }

    @include pMax {
      padding: 15px;
    }

    &-title {
      margin: 0 0 20px;
      font-size: 24px;
      line-height: 2.08333;
      font-weight: 700;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-field {
      width: 100%;
      margin-bottom: 20px;

      &--half {
        width: calc(50% - 11px);

        @include pMax {
          width: 100%;
        }
      }
    }

    &-send {
      display: inline-block;
      min-width: 260px;
      margin-top: 9px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    &-bottom {
      margin-top: 22px;
      font-family: $secondFont;
      font-size: 14px;
      line-height: 1.85714;
      color: $grey-cf;

      a {
        color: $grey-cf;
        text-decoration: underline;

        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
