.dropdown {
  padding-top: 33px;
  padding-bottom: 44px;
  background-color: $white;
  box-shadow: 2px 2px 19px rgba(33, 43, 70, 0.05);

  &__container {
  }

  &__title {
    display: flex;
    margin-bottom: 43px;
    font-size: 19px;
    line-height: 1.2;
    font-weight: 500;

    &::after {
      content: "";
      flex-grow: 1;
      align-self: center;
      height: 1px;
      background-color: $blue;
    }

    span {
      max-width: 90%;
      padding-right: 14px;
      flex-shrink: 0;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 20%;
    min-width: 200px;
    margin-bottom: 8px;
    padding-right: 22px;
  }

  &__link {
    font-size: 15px;
    line-height: 1.3333;
    color: $grey-8e;
    transition: 0.2s;

    &:hover,
    &:focus {
      outline: none;
      color: $mainColor;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
