.footer {
  padding-top: 88px;
  background-color: $dark-5f;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    width: calc(25% - 27px);

    @include tMax {
      width: calc(50% - 16px);

      &:nth-child(n + 3) {
        margin-top: 50px;
      }
    }

    @include pMax {
      width: 100%;

      &:nth-child(n + 2) {
        margin-top: 18px;
      }
    }
  }

  &__menu {
    $menu: &;

    &-title {
      position: relative;
      padding-bottom: 18px;
      font-size: 17px;
      line-height: 1.2353;
      color: $white;
      font-weight: 600;
      border-bottom: solid 1px $dark-88;

      @include pMax {
        padding-right: 42px;

        &.is-active {
          &::before {
            transform: translateY(-50%) rotate(90deg) scale(-1, 1);
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        right: 12px;
        top: 40%;
        transform: translateY(-50%) rotate(90deg);
        width: 20px;
        height: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 12 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 18.23L1.77 20l10-10-10-10L0 1.77 8.23 10 0 18.23z' fill='%23fff'/%3e%3c/svg%3e");
        transition: 0.2s;

        display: none;

        @include pMax {
          display: block;
        }
      }
    }

    &-list {
      list-style: none;
      margin: 15px 0 0 0;
      padding: 0;
      transition: 0.2s;

      @include pMax {
        display: none;
        margin: 15px 0 32px;
      }
    }

    &-item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      font-size: 15px;
      line-height: 1.46666;
      color: $grey-cf;
      transition: 0.2s;

      &:hover,
      &:focus {
        outline: none;
        color: $white;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  &__menu + &__menu {
    margin-top: 50px;

    @include pMax {
      margin-top: 18px;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 52px;
    margin-bottom: 19px;

    @include pMax {
      flex-direction: column;
    }

    a {
      font-size: 15px;
      line-height: 1.46666;
      color: $grey-cf;
      transition: 0.2s;
      text-decoration: underline;

      @include pMax {
        align-self: flex-start;
      }

      &:hover,
      &:focus {
        outline: none;
        text-decoration: none;
      }

      &:active {
        opacity: 0.7;
      }
    }

    a + a {
      margin-left: 20px;

      @include pMax {
        margin-left: 0;
        margin-top: 12px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 0 22px;
    border-top: solid 1px $dark-88;

    @include pMax {
      display: block;
    }
  }

  &__copyright {
    font-size: 15px;
    line-height: 1.46666;
    color: $grey-cf;
  }

  &__info {
    margin-left: 20px;
    font-size: 15px;
    line-height: 1.46666;
    color: $grey-cf;

    @include pMax {
      margin-left: 0;
      margin-top: 12px;
    }

    a {
      color: $grey-cf;
      transition: 0.2s;

      &:hover,
      &:focus {
        outline: none;
        color: $white;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}
