.inner-page {
  border-top: solid 1px $grey;
  padding-bottom: 93px;

  @include tMax {
    padding-bottom: 50px;
  }

  &__header {
    padding-top: 68px;
    padding-bottom: 32px;

    @include tMax {
      padding-top: 32px;
    }
  }

  &__title {
    margin: 0 0 32px;
    font-size: 39px;
    line-height: 1.282;
    font-weight: 700;

    @include tMax {
      margin-bottom: 20px;
    }

    @include pMax {
      font-size: 30px;
    }

    &--flex {
      display: flex;

      span {
        align-self: baseline;
      }
    }

    .share-link {
      margin-left: 10px;
      align-self: baseline;
    }
  }

  &__breadcrumbs {
    margin-bottom: 62px;

    @include tMax {
      margin-bottom: 32px;
    }
  }

  &__main {
  }

  &__about + &__about {
    margin-top: 58px;
  }

  &__archive {
    margin-bottom: 35px;

    @include tMax {
      margin-bottom: 0;
    }
  }

  &__tags {
    margin-bottom: 50px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 58px;

    @include mMax {
      margin-bottom: 40px;
    }

    &-title {
      width: 100%;
      margin: 0 0 40px;
      font-size: 24px;
      line-height: 1.33333;
      font-weight: 700;

      @include mMax {
        margin-bottom: 24px;
      }
    }

    &-select {
      width: 100%;
      max-width: 334px;
      padding: 12px 60px 13px 15px;
      font-size: 15px;
      line-height: 1;
      color: $dark-5a;
      border: solid 1px $grey-e9;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: right 15px top 50%;
      background-size: 20px auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.885 0L0 .902 5 6l5-5.098L9.115 0 5 4.195.885 0z' fill='%23446CB2'/%3e%3c/svg%3e");
      transition: 0.2s;
      appearance: none;

      @include mMax {
        max-width: 100%;
      }

      &:hover,
      &:focus {
        outline: none;
        border-color: $blue;
      }
    }

    &-select + &-select {
      margin-left: 30px;

      @include mMax {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}
