.logo {
  display: flex;

  &__image {
    width: 55px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__text {
    margin-left: 10px;
    align-self: center;
    font-size: 20px;
    line-height: 1.2;

    b {
      display: block;
    }
  }
}
