.main-slider {
  &__slide {
    box-sizing: border-box;
    &-content {
      max-width: 530px;
    }

    &-pretitle {
      margin-bottom: 8px;
      font-size: 15px;
      line-height: 1.4;
      color: $grey-c0;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-title {
      max-width: 440px;
      margin-bottom: 27px;
      font-size: 39px;
      line-height: 1.282;
      font-weight: 700;
    }

    &-text {
      margin-bottom: 32px;
      font-size: 19px;
      line-height: 1.1;
    }

    &-btn {
    }
  }

  &__bottom {
    padding-top: 58px;
  }
}
