.news {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -36px 0 0 -36px;
    padding: 0;

    @include tMax {
      margin-left: -15px;
      margin-top: -15px;
    }

    @include pMax {
      margin-left: 0;
    }
  }

  &__item {
    width: calc(50% - 36px);
    margin-left: 36px;
    margin-top: 36px;

    @include tMax {
      width: calc(33.33% - 15px);
      margin-left: 15px;
      margin-top: 15px;
    }

    @include mMax {
      width: calc(50% - 15px);
    }

    @include pMax {
      width: 100%;
      margin-left: 0;
    }
  }
}
