.partners-section {
  padding: 83px 0 88px;
  background-color: $grey-f8;

  @include tMax {
    padding: 50px 0;
  }

  &__title {
    margin: 0 0 36px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -42px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 53px;

    @include dMax {
      width: 33.33%;
    }

    @include mMax {
      width: 50%;
    }

    @include pMax {
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      align-self: center;
    }
  }
}
