.projects-section {
  padding: 140px 0 93px;
  overflow: hidden;

  @include tMax {
    padding: 50px 0 70px;
  }

  &__container {
  }

  &__title {
    margin: 0 0 57px;
  }

  &__carousel {
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      z-index: 2;
      transform: translateX(-100%);
      width: 100%;
      height: calc(100% + 40px);
      background-color: $white; //rgba(red, 0.4);
    }

    &-bottom {
      display: flex;
      margin-top: 58px;

      @include mMax {
        display: block;
        margin-top: 32px;
      }
    }

    &-nav {
      align-self: center;
      margin-right: 36px;

      @include mMax {
        display: none;
      }
    }

    &-pag {
      align-self: center;

      @include mMax {
        margin-bottom: 20px;
      }
    }
  }

  &__all {
    margin-left: auto;
    align-self: center;
  }
}
