.tags {
  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    margin: 0 0 40px;
    font-size: 24px;
    line-height: 1.33333;
    font-weight: 700;

    @include mMax {
      margin-bottom: 24px;
    }
  }

  &__item {
    margin-bottom: 14px;
    margin-right: 14px;
  }

  &__select {
    display: inline-block;
    vertical-align: top;
    min-width: 0;
    margin-bottom: 14px;
    padding: 10px 46px 10px 32px;
    font-family: $thirdFont;
    font-size: 13px;
    line-height: 1.23;
    color: $dark-5a;
    appearance: none;

    border-radius: 5px;
    border: solid 1px $blue;
    background-repeat: no-repeat;
    background-position: right 26px top 50%;
    background-size: 10px auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.885 0L0 .902 5 6l5-5.098L9.115 0 5 4.195.885 0z' fill='%23446CB2'/%3e%3c/svg%3e");
    transition: 0.2s;

    &:hover,
    &:focus {
      outline: none;
      border-color: $blue-2;
    }
  }
}
