.modal#modalForm(style="display: none;")
  h2.modal__title Связаться с нами
  button.modal__close.__js_modal-close(type="button")
    +svg('#altrix_close')(width="14", height="14")
  .modal__content
    form.application-form(action="#", method="post")
      label.application-form-label
        input(type="text")
        span ФИО

      label.application-form-label
        input(type="tel")
        span Контактный телефон
        
      label.application-form-label
        input(type="email")
        span Email

      .file-upload
        span.wpcf7-form-control-wrap.file-doc
          input.wpcf7-form-control.wpcf7-file(type='file' name='file-doc' size='40' accept='.jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv' aria-invalid='false')
        .file-upload__custom
          .file-upload__icon
            svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M20.0697 1.85591C17.4957 -0.737256 13.3302 -0.736996 10.7566 1.85591L1.5004 11.1813C-0.500135 13.1968 -0.500135 16.4762 1.5004 18.4917C3.50146 20.5078 6.7566 20.5066 8.75654 18.4917L18.0127 9.16632C19.4461 7.72216 19.4461 5.37237 18.0127 3.92821C16.5793 2.48401 14.2469 2.48401 12.8135 3.92821L4.91896 11.8818C4.61925 12.1837 4.61925 12.6733 4.91896 12.9752C5.21866 13.2772 5.70464 13.2772 6.0043 12.9752L13.8988 5.02167C14.7338 4.18046 16.0924 4.18046 16.9273 5.02167C17.7622 5.86289 17.7622 7.23164 16.9273 8.07281L7.67119 17.3982C6.26568 18.8143 3.99109 18.8141 2.58575 17.3982C1.90659 16.714 1.53255 15.8043 1.53255 14.8365C1.53255 13.8688 1.90663 12.9591 2.58575 12.2748L11.8419 2.94938C13.8159 0.960626 17.0105 0.960886 18.9843 2.94938C20.9534 4.93328 20.9534 8.16129 18.9843 10.1451L14.8704 14.2898C14.5707 14.5917 14.5707 15.0813 14.8704 15.3833C15.1701 15.6852 15.6561 15.6852 15.9557 15.3833L20.0696 11.2386C22.6436 8.64553 22.6433 4.44873 20.0697 1.85591Z' fill='currentColor')
          .file-upload__name(data-empty="Прикрепить файл")
            span Прикрепить файл
            a.file-upload__close(href="javascript:;")
              svg(width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M2.32679 2.92883L0.140991 0.428571L0.973317 0L3.01058 2.29927L5.04079 0L5.85901 0.428571L3.67321 2.92883L6 5.57143L5.17472 6L3.01058 3.56934L0.825281 6L0 5.57143L2.32679 2.92883Z' fill='#5F4589')
      .file-upload-types
        p Разрешенные форматы файлов: jpg, jpeg, png, gif, pdf, doc, docx, ppt, pptx, odt, avi, ogg, m4a, mov, mp3, mp4, mpg, wav, wmv. Размер файла до 10 Мбайт.

      .application-form-submit
        button(type="submit").calc-btn Отправить
        .application-form-polic
          label.application-form-polic-check
            input(type="checkbox")
            b
          p Я согласен с <a href="#">условиями обработки персональных данных</a> и <a href="#">политикой конфиденциальности</a>


.modal#success-message(style="display: none;")
  h2.modal__title Ваша заявка принята
  button.modal__close.__js_modal-close(type="button")
    +svg('#altrix_close')(width="14", height="14")
  .modal__content Спасибо за обращение. Наш менеджер свяжеться с Вами в течение 60 минут


- const TAGS_M = [{text: 'АСУ'}, {text: 'Сетевая безопасность'}, {text: 'Киберучения'}, {text: 'Blockchain'}, {text: 'Антивирус'}, {text: 'SIEM'}, {text: 'Патч-менеджмент'}, {text: 'Автоматизация'}, {text: 'SIEM'}, {text: 'Киберучения'}, {text: 'АСУ'}, {text: 'Blockchain'}, {text: 'Киберучения'}, {text: 'Сетевая безопасность'}, {text: 'Автоматизация'}, {text: 'Патч-менеджмент'}, {text: 'Антивирус'}, {text: 'Патч-менеджмент'}, {text: 'АСУ'}, {text: 'Blockchain'}, {text: 'Киберучения'}, {text: 'Сетевая безопасность'}, {text: 'Автоматизация'}, {text: 'Патч-менеджмент'}, {text: 'Антивирус'}, {text: 'Патч-менеджмент'} ];

.modal.modal--tags#tags(style="display: none;")
  button.modal__close.__js_modal-close(type="button")
    +svg('#altrix_close')(width="14", height="14")
  .modal__content
    each item in TAGS_M
      +tag(null, item.text, false, 'tags__item')

.cookie-confirm
  .cookie-confirm__container.container
    .cookie-confirm__title Мы используем фалы Cookie
    button.cookie-confirm__btn.__js_cookie-confirm(type="button") Хорошо
    .cookie-confirm__text Эти файлы cookie необходимы для функционирования веб-сайта и не могут быть отключены в наших системах. Как правило, они активируются только в ответ на ваши действия, аналогичные запросу услуг, такие как настройка уровня конфиденциальности, вход в систему или заполнение форм. Вы можете настроить браузер таким образом, чтобы он блокировал эти файлы cookie или уведомлял вас об их использовании, но в таком случае возможно, что некоторые разделы веб-сайта не будут работать.

