extends template/main

block variables
  - var title = 'Blog single Защита АСУ ТП'
  //- var pageClass = 'main_page'
  - var isHome = false;


block content
  include modules/blog-single-page/inner-page
