extends template/main

block variables
  - var title = 'Направления деятельности';
  //- var pageClass = 'main_page'
  - var isHome = false;


block content
  include modules/direction-page/inner-page