article.inner-page
  .inner-page__header.inner-page__header--single
    .container
      +breadcrumbs2(['Защита АСУ ТП'], 'inner-page__breadcrumbs')

  .single-blog-title-wrap
    .container
      h1.single-blog-title Таким образом реализация намеченных плановых заданий

  .inner-page__main
    section.title-single
      .inner-page__header-wrapper
        .inner-page__header-bg
          img(src="images/altrix/single-page-bg.jpg", srcset="images/altrix/single-page-bg@2x.jpg 2x", width="1900", height="399", alt="")

        .container
          h1.inner-page__title
            span Защита АСУ ТП

          .inner-page__short
            .inner-page__short-title Таким образом новая модель организационной деятельности способствует подготовки
            .inner-page__short-text Товарищи! сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом укрепление и развитие структуры способствует подготовки и реализации дальнейших направлений развития. Равным образом начало повседневной работы по формированию позиции требуют от нас анализа направлений прогрессивного развития.

    include content-block
    include content

    .ref-tags
      .container
        .inner-page__tags.inner-page__tags--refer.tags
          a.tags__item.tag(href='#') здравоохранение
          a.tags__item.tag(href='#') наука
          a.tags__item.tag(href='#') транспорт

    section.similar-posts
      .container.text-style
        h2.similar-posts-title  Похожие статьи
      .blog__container.blog__container--similar.container
        ul.blog-flex.blog-flex--similar
          .blog-card.blog-card--similar
            .blog-card__image
              img(src='images/altrix/news-preview-1.jpg' srcset='images/altrix/news-preview-1@2x.jpg 2x' width='250' height='250' alt='')
            .blog-card__main
              .card-tags
                a.card-tags__item(href='') Наука
                a.card-tags__item(href='') Техника
                a.card-tags__item(href='') Программное обеспечение
              .blog-card__title Задача организации же начало повседневной работы по
              .blog-card__text
                | Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых условий.
              .blog-card__bottom
                .blog-card__views
                  svg(width='7' height='10')
                    use(xlink:href='images/svg/symbol/sprite.svg#altrix_page-views')
                  span 15

          .blog-card.blog-card--similar
            .blog-card__image
              img(src='images/altrix/news-preview-1.jpg' srcset='images/altrix/news-preview-1@2x.jpg 2x' width='250' height='250' alt='')
            .blog-card__main
              .card-tags
                a.card-tags__item(href='') Наука
                a.card-tags__item(href='') Техника
                a.card-tags__item(href='') Программное обеспечение
              .blog-card__title Таким образом консультация с широким активом
              .blog-card__text
                | Равным образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений развития.
              .blog-card__bottom
                .blog-card__views
                  svg(width='7' height='10')
                    use(xlink:href='images/svg/symbol/sprite.svg#altrix_page-views')
                  span 15

          .blog-card.blog-card--similar
            .blog-card__image
              img(src='images/altrix/news-preview-1.jpg' srcset='images/altrix/news-preview-1@2x.jpg 2x' width='250' height='250' alt='')
            .blog-card__main
              .card-tags
                a.card-tags__item(href='') Наука
                a.card-tags__item(href='') Техника
                a.card-tags__item(href='') Программное обеспечение
              .blog-card__title процесс модернизации идет полным ходом
              .blog-card__text
                | Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение.
              .blog-card__bottom
                .blog-card__views
                  svg(width='7' height='10')
                    use(xlink:href='images/svg/symbol/sprite.svg#altrix_page-views')
                  span 15
