section.content-block
  .content-block__container.container
    .content-block__main
      h2.content-block__title Заголовок
      p С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения дальнейших направлений развития. 

      p Задача организации, в особенности же укрепление и развитие структуры представляет собой интересный эксперимент проверки систем массового участия. С другой стороны дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт сложившаяся структура организации позволяет выполнять важные задания по разработке новых предложений.
    
    .content-block__aside
      img(src="images/altrix/single-page-image.jpg", width="632", height="441", alt="")