section.simple-section
  .simple-section__container.container
    h2.simple-section__title.small-title Эффект от реализации

    ul.simple-section__list.simple-section__list--center.simple-section__list--cols--2
      .simple-section__item.text-icon-block
        .text-icon-block__icon
        .text-icon-block__main Достижение требуемого уровня защищенности информации, обеспечение ее доступности, целостности и конфиденциальности в критической информационной инфраструктуре и в технологических сегментах.
      .simple-section__item.text-icon-block
        .text-icon-block__icon
        .text-icon-block__main Выполнение требований законодательства в части обеспечения защиты КИИ и АСУТП на КВО.
      .simple-section__item.text-icon-block
        .text-icon-block__icon
        .text-icon-block__main Снижение рисков технологического, экономического и репутационного характера.
      .simple-section__item.text-icon-block
        .text-icon-block__icon
        .text-icon-block__main Достижение требуемого уровня защищенности информации, обеспечение ее доступности, целостности и конфиденциальности в критической информационной инфраструктуре и в технологических сегментах.
      .simple-section__item.text-icon-block
        .text-icon-block__icon
        .text-icon-block__main Выполнение требований законодательства в части обеспечения защиты КИИ и АСУТП на КВО.
      .simple-section__item.text-icon-block
        .text-icon-block__icon
        .text-icon-block__main Снижение рисков технологического, экономического и репутационного характера.