extends templates/default

block vars
  -
    const page = {
      title: 'catalog.html'
    };

    const TAGS = [
      {text: 'АСУ'},
      {text: 'Сетевая безопасность'},
      {text: 'Киберучения'},
      {text: 'Blockchain'},
      {text: 'Антивирус'},
      {text: 'SIEM'},
      {text: 'Патч-менеджмент'},
      {text: 'Автоматизация'},
      {text: 'SIEM'},
      {text: 'Киберучения'},
      {text: 'АСУ'},
      {text: 'Blockchain'},
      {text: 'Киберучения'},
      {text: 'Сетевая безопасность'},
      {text: 'Автоматизация'},
      {text: 'Патч-менеджмент'},
      {text: 'Антивирус'},
      {text: 'Патч-менеджмент'}
    ];

    const ACCORDION = ['Hard Drive Inspector', 'Hard Drive Inspector for Notebooks', 'Хронограф', 'Hard Drive Inspector', 'Hard Drive Inspector for Notebooks'];


block main
  article.inner-page
    header.inner-page__header 
      .container
        +breadcrumbs(['Каталог решений'], 'inner-page__breadcrumbs')
        h1.inner-page__title
          span Каталог решений
        


    .inner-page__main
      .container 
        .inner-page__filter
          .inner-page__filter-title Фильтры
          select.inner-page__filter-select(name="filter-select-1")
            option(value="0", selected) Вендор
            option(value="1") Значение 1
            option(value="2") Значение 2
            option(value="3") Значение 3
          select.inner-page__filter-select(name="filter-select-2")
            option(value="0", selected) Класс СЗИ
            option(value="1") Значение 1
            option(value="2") Значение 2
            option(value="3") Значение 3

        .inner-page__tags.tags
          .tags__title Тэги
          each item in TAGS 
            +tag(null, item.text, true, 'tags__item')
          select.tags__select(name="tags-select")
            option(value="all", selected) Все теги
            option(value="1") Значение 1
            option(value="2") Значение 2
            option(value="3") Значение 3

        .catalog-accordion
          .catalog-accordion__item
            //.catalog-accordion__item--active
            button.catalog-accordion__item-head(type="button") Программное обеспечение

            .catalog-accordion__item-content 

              each item, index in ACCORDION 
                - let addCl = index === 22 ? 'catalog-accordion__item--active' : '';
                  
                .catalog-accordion__item.catalog-accordion__item--nested(class= addCl)
                  button.catalog-accordion__item-head(type="button")= item

                  .catalog-accordion__item-content
                    +method('method-1', 'Решение 1 - решение вопроса')
                    +method('method-2', 'Решение 2 - решение вопроса')


