extends templates/default

block vars
  -
    const page = {
      title: 'news.html'
    };

    


block main
  article.inner-page
    header.inner-page__header 
      .container
        +breadcrumbs(['Новости'], 'inner-page__breadcrumbs')
        h1.inner-page__title
          span Новости
    
    .inner-page__main 
      .container
        .inner-page__news.news
          ul.news__list
            +news-card('news__item', 'news-preview-1', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', {attr: '2021-03-18', text: '18.03.21'}, 'li')
            +news-card('news__item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
            +news-card('news__item', 'news-preview-3', 'Идейные соображения высшего порядка', 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу', null, 'li')
            +news-card('news__item', 'news-preview-4', 'Разнообразный и богатый опыт', 'С другой стороны консультация с широким активом в значительной степени создание развития.', null, 'li')
            
            +news-card('news__item', 'news-preview-1', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
            +news-card('news__item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
            +news-card('news__item', 'news-preview-3', 'Идейные соображения высшего порядка', 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу', null, 'li')
            +news-card('news__item', 'news-preview-4', 'Разнообразный и богатый опыт', 'С другой стороны консультация с широким активом в значительной степени создание развития.', null, 'li')

        +pagination('inner-page__pagination')