.inner-page__blog.blog
	.blog__container.container
		ul.blog-flex
			+blog-card("", 'news-preview-1', 'Задача организации же начало повседневной работы по', 'Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых условий.', 15)
			+blog-card("", 'news-preview-1', 'Таким образом консультация с широким активом', 'Равным образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений развития. ', 15)
			+blog-card("", 'news-preview-1', 'процесс модернизации идет полным ходом', 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение.', 15)

			+blog-card("", 'news-preview-1', 'Таким образом консультация с широким активом', 'Равным образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений развития. ', 15)
			+blog-card("", 'news-preview-1', 'процесс модернизации идет полным ходом', 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение.', 15)
			+blog-card("", 'news-preview-1', 'Задача организации же начало повседневной работы по', 'Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых условий.', 15)

			+blog-card("", 'news-preview-1', 'Задача организации же начало повседневной работы по', 'Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых условий.', 15)
			+blog-card("", 'news-preview-1', 'Таким образом консультация с широким активом', 'Равным образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений развития. ', 15)
			+blog-card("", 'news-preview-1', 'процесс модернизации идет полным ходом', 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение.', 15)


			//+blog-card("", 'news__item', '', '', 15)

		//
			.blog-card
				.blog-card__image
					.blog-card__image-inner
						img(src="images/altrix/" + img + ".jpg", srcset="images/altrix/" + img + "@2x.jpg 2x", width="250", height="250", alt="")
				.blog-card__main
					.card-tags
						a.card-tags__item(href="") Наука
						a.card-tags__item(href="") Техника
						a.card-tags__item(href="") Программное обеспечение
					.blog-card__title
					.blog-card__text
					.blog-card__bottom
							.blog-card__views
								+svg('#altrix_page-views')(width="7", height="10")
								span  15

							a.blog-card__readmore.arrow-link(href="#") Подробнее
									+svg('#altrix_triangle-right')(width="7", height="10")



