article.inner-page
  header.inner-page__header 
    .container
      +breadcrumbs2(['Новости'], 'inner-page__breadcrumbs')
      h1.inner-page__title
        span Новости
  
  .inner-page__main
    include news-list

    +pagination('inner-page__pagination', 7)