.inner-page__news.news
  .news__container.container
    ul.news__list
      +news-card('news__item', 'news-preview-1', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', {attr: '2021-03-18', text: '18.03.21'}, 'li')
      +news-card('news__item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
      +news-card('news__item', 'news-preview-3', 'Идейные соображения высшего порядка', 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу', null, 'li')
      +news-card('news__item', 'news-preview-4', 'Разнообразный и богатый опыт', 'С другой стороны консультация с широким активом в значительной степени создание развития.', null, 'li')
      
      +news-card('news__item', 'news-preview-1', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
      +news-card('news__item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
      +news-card('news__item', 'news-preview-3', 'Идейные соображения высшего порядка', 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу', null, 'li')
      +news-card('news__item', 'news-preview-4', 'Разнообразный и богатый опыт', 'С другой стороны консультация с широким активом в значительной степени создание развития.', null, 'li')