section.about-section(style="background-color: #f3f6f8")
  .about-section__container.container 
    .about-section__main
      +title('О компании', 'Некоторый уточняющий подзаголовок', 'about-section__title')

      .about-section__text 
        p Таким образом, постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям.

        p Мы вынуждены отталкиваться от того, что высокое качество позиционных исследований способствует подготовке и реализации первоочередных требований. Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение экспериментов, поражающих по своей масштабности и грандиозности.

        p Таким образом, курс на социально-ориентированный национальный проект говорит о возможностях модели развития. А ещё представители современных социальных резервов, инициированные исключительно синтетически, функционально разнесены на независимые элементы.
      
      a.about-section__btn.button(href="#") Подробнее
        span.button__icon 
          +svg('#altrix_arrow-right')(width="18", height="12")

    .about-section__aside
      ul.about-section__news
        +news-card('about-section__news-item', 'news-preview-1', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
        +news-card('about-section__news-item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
        +news-card('about-section__news-item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
        +news-card('about-section__news-item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
        +news-card('about-section__news-item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
        +news-card('about-section__news-item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')
        +news-card('about-section__news-item', 'news-preview-2', 'Итоги IV <br>Кейс-Чемпионата', 'Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение.', null, 'li')

      
      .about-section__aside-bottom
        a.about-section__aside-all.arrow-link(href="#") Все новости
          +svg('#altrix_triangle-right')(width="7", height="10")

