article.inner-page
  header.inner-page__header 
    .container
      +breadcrumbs2(['Карьера'], 'inner-page__breadcrumbs')
      h1.inner-page__title
        span Карьера
  
  .inner-page__main 
    .container
      include text
      include ../common/vacancy-section