section.inner-page__about.about-block
  .about-block__container.container
    .about-block__main
      p Таким образом, постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям.

      p Мы вынуждены отталкиваться от того, что высокое качество позиционных исследований способствует подготовке и реализации первоочередных требований. Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение экспериментов, поражающих по своей масштабности и грандиозности.

      p Таким образом, курс на социально-ориентированный национальный проект говорит о возможностях модели развития. А ещё представители современных социальных резервов, инициированные исключительно синтетически, функционально разнесены на независимые элементы.

      ul.about-block__list 
        each item in ARCHIVE_LIST
          li 
            +download-link(item.icon, item.text, null, null)

    .about-block__image 
      img(src="images/altrix/about/about-1.jpg", srcset="images/altrix/about/about-1.jpg 2x", width="629", height="512", alt="")

section.inner-page__about.about-block.about-block--reverse
  .about-block__container.container
    .about-block__main
      .about-block__title Идейные соображения 1 порядка
      p Таким образом, постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям.

      p Мы вынуждены отталкиваться от того, что высокое качество позиционных исследований способствует подготовке и реализации первоочередных требований. Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение экспериментов, поражающих по своей масштабности и грандиозности.

      p Таким образом, курс на социально-ориентированный национальный проект говорит о возможностях модели развития. А ещё представители современных социальных резервов, инициированные исключительно синтетически, функционально разнесены на независимые элементы.

      
      ul.about-block__list 
        each item in ARCHIVE_LIST
          li 
            +download-link(item.icon, item.text, null, null)
    .about-block__image 
      img(src="images/altrix/about/about-2.jpg", srcset="images/altrix/about/about-2.jpg 2x", width="632", height="566", alt="")

section.inner-page__about.about-block
  .about-block__container.container
    .about-block__main
      .about-block__title В равной мере раскладка меняется
      p Таким образом, постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям.

      p Мы вынуждены отталкиваться от того, что высокое качество позиционных исследований способствует подготовке и реализации первоочередных требований. Господа, сплочённость команды профессионалов, в своём классическом представлении, допускает внедрение экспериментов, поражающих по своей масштабности и грандиозности.

      p Таким образом, курс на социально-ориентированный национальный проект говорит о возможностях модели развития. А ещё представители современных социальных резервов, инициированные исключительно синтетически, функционально разнесены на независимые элементы.

      ul.about-block__list 
        each item in ARCHIVE_LIST
          li 
            +download-link(item.icon, item.text, null, null)
    .about-block__image 
      img(src="images/altrix/about/about-3.jpg", srcset="images/altrix/about/about-3.jpg 2x", width="631", height="566", alt="")
