header.header
	.header__left
		button.header__burger.burger(type="button", aria-label="Меню")
			span
		a.header__lang(href="#") En
	.header__right
		a.header__phone(href='tel:+78127161414')
			+icon('phone')(class="header__phone-icon", width='12', height='12')
			span +7 (812) 716-14-14
		a.header__phone(href='tel:+78002018702')
			span +7 (800) 201-87-02
		+socials([{id: 'facebook-square', w: '18', h: '18'}, {id: 'twitter-square', w: '18', h: '18'}, {id: 'linkedin', w: '18', h: '18'}, {id: 'youtube', w: '23', h: '23'}], 'header__social')
		a.header__login(href="#")
			+icon('login')(width='16', height='16')
			span Личный кабинет

