.header
	.header__left
		.header__burger
			.icon-left
			.icon-right
		.header__lang En
	.header__right
		a.header__phone(href='tel:+78127161414')
			+icon('phone')
			span +7 (812) 716-14-14
		a.header__phone(href='+78002018702')
			span +7 (800) 201-87-02
		+socials(['fa-facebook-official', 'fa-facebook-official', 'fa-facebook-official', 'fa-facebook-official'])
		.header__login
			+icon('login')
			span Личный кабинет

