.aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  max-width: 392px;
  padding: 65px 38px 29px 22px;
  background-color: $color-white;
  box-shadow: 2px 2px 19px rgba(33, 43, 70, 0.50);
  transform: translateX(-110%);
  transition: 0.5s;
  overflow: auto;

  &--open {
    transform: translateX(0);
  }

  @include respond-to("desktop") {
    padding-left: 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__logo {
    margin-bottom: 62px;
  }

  &__list {
    list-style: none;
    margin: 0 0 auto 0;
    padding: 0;
  }

  &__item {
  }

  &__item + &__item {
    margin-top: -1px;
  }

  &__link {
    display: block;
    padding: 12px 0 13px;
    font-size: 15px;
    line-height: 1;
    color: $color-dark-4d;

    border-top: solid 1px #323238;
    border-bottom: solid 1px #323238;

    &--dropdown {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='4' width='1' height='9' rx='.5' fill='%23AFB4BF'/%3e%3crect y='5' width='1' height='9' rx='.5' transform='rotate(-90 0 5)' fill='%23AFB4BF'/%3e%3c/svg%3e");
      }
    }

    &--active {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect y='5' width='1' height='9' rx='.5' transform='rotate(-90 0 5)' fill='%23AFB4BF'/%3e%3c/svg%3e");
      }
    }
  }

  &__dropdown {
    display: none;

    padding: 16px 42px 30px 22px;
    box-shadow: none;

    .dropdown__item {
      width: 100%;
      margin: 0 0 18px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  &__phone,
  &__email {
    display: inline-flex;
    margin-top: 12px;
    font-size: 19px;
    line-height: 1.3684;
    color: $color-dark-5a;

    svg {
      display: block;
      margin-right: 8px;
      fill: $color-blue;
      align-self: center;
    }
  }
}
