.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-flex;
      font-size: 16px;
      line-height: 1.1;
      color: $color-grey-cf;
      font-weight: 500;
      transition: 0.2s;

      @include respond-to("tablet-middle") {
        font-size: 16px;
      }

      svg {
        margin-left: 12px;
        align-self: center;
        fill: $color-grey-cf;
        transition: 0.2s;
      }

      &:hover,
      &:focus {
        outline: none;
        color: $color-main;

        svg {
          fill: $color-main;
        }
      }

      &:active {
        opacity: 0.7;
      }
    }

    &:last-child {
      a {
        color: $color-main;
        pointer-events: none;
      }
    }
  }
}
