.contacts {
  padding-bottom: 93px;

  @include respond-to("tablet-middle") {
    padding-bottom: 50px;
  }

  &__main {
    padding: 86px 93px 93px;
    background-color: $color-dark-5f;

    @include respond-to("desktop") {
      padding: 41px 50px 50px;
    }

    @include respond-to("tablet") {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 0;
      padding: 24px;
    }

    &-wrap {
      display: flex;

      @include respond-to("tablet") {
        display: block;
      }
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 43px;
    color: $color-white;

    @include respond-to("tablet") {
      margin-bottom: 20px;
    }
  }

  &__column {
    width: 50%;
    max-width: 490px;

    @include respond-to("tablet") {
      width: 100%;
      max-width: none;
    }

    &-title {
      margin: 0 0 6px !important;
      font-size: 19px;
      line-height: calc(50 / 19) !important;
      color: $color-white;
      font-weight: 500 !important;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      @include respond-to("tablet") {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        display: flex;
        margin-bottom: 10px;
        font-family: $secondFont;
        font-size: 19px;
        line-height: calc(34 / 19);
        color: $color-white;

        span {
          margin-right: 4px;
          color: $color-blue;
          font-weight: 700;
        }

        &:last-child {
          margin-bottom: 0;
        }

        @include respond-to("tablet") {
          max-width: 50%;
          min-width: 260px;
        }
      }
    }
  }

  &__column + &__column {
    margin-left: 55px;

    @include respond-to("tablet-middle") {
      margin-left: 24px;
    }

    @include respond-to("tablet") {
      margin-left: 0;
      margin-top: 24px;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 10px;
    font-family: $secondFont;
    font-size: 19px;
    line-height: calc(26 / 19);
    color: $color-white;

    &-icon {
      width: 24px;
      margin-right: 8px;
      align-self: center;
      flex-shrink: 0;

      svg {
        display: block;
        margin-left: auto;
        fill: $color-blue;
      }
    }
  }

  &__address {
    display: flex;
    font-family: $secondFont;
    font-size: 19px;
    line-height: calc(34 / 19);
    color: $color-white;
    &:not(&:last-child){
      margin-bottom: 10px;
    }

    &-icon {
      width: 24px;
      margin-right: 8px;
      margin-top: 5px;
      align-self: flex-start;
      flex-shrink: 0;

      svg {
        display: block;
        margin-left: auto;
        fill: $color-blue;
      }
    }
  }

  &__map {
    height: 635px;
    iframe{
      width: 100% !important;
      height: 100% !important;
      display: block;
    }

    @include respond-to("tablet") {
      height: 400px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
