.content-block {
  padding: 93px 0;

  @include respond-to("tablet-middle") {
    padding: 50px 0;
  }

  &__container {
    display: flex;

    @include respond-to("tablet-middle") {
      flex-direction: column;
    }
  }

  &__main {
    padding-right: 36px;
    font-family: $secondFont;
    font-size: 15px;
    line-height: calc(26 / 15);
    color: $color-dark-5a;

    @include respond-to("tablet-middle") {
      padding-right: 0;
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: 32px;

      @include respond-to("tablet-middle") {
        margin-top: 20px;
      }
    }
  }

  &__title {
    font-family: $mainFont;
    font-size: 39px !important;
    line-height: calc(50 / 39) !important;
    color: $color-main;

    @include respond-to("phablet") {
      font-size: 30px !important;
    }
  }

  &__aside {
    width: 50%;
    max-width: 632px;
    flex-shrink: 0;

    @include respond-to("tablet-middle") {
      width: 100%;
      max-width: none;
      margin-bottom: 36px;
      order: -1;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
