.date {
  display: flex;

  &__icon {
    display: inline-flex;
    margin-right: 10px;
    align-self: center;

    svg {
      fill: $color-grey-cf;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.3125;
    color: $color-grey-cf;
    align-self: center;
  }
}
