.gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 270px);
  pointer-events: none;
  background-image: linear-gradient(
    360deg,
    #614586 0%,
    rgba(89, 65, 153, 0.51806) 43.69%,
    rgba(55, 67, 152, 0) 100%
  );
  background-color: #4265ae;
}
