.graf-section{
  padding: 60px 0;
  @include respond-to("tablet-middle") {
    padding: 35px 0 0;
  }
  svg{
    width: 100%;
    height: auto;
  }
  .js-hover-svg{
    opacity: 0;
    @include respond-to-min("desktop") {
      &.active{
        opacity: 1;
      }
    }
  }
}