.hero-section {
  position: relative;
  min-height: 975px;
  margin-top: -120px;
  padding: 150px 0;
  background-image: url("../images/altrix/main-bg.png");
  background-color: $color-grey-e5;
  background-position: right 20px top 0;

  @include respond-to("tablet-middle") {
    min-height: 780px;
    padding: 150px 0 50px;
  }

  &__container {
    position: relative;
    padding-top: 103px;

    @include respond-to("tablet-middle") {
      padding-top: 40px;
    }
  }

  &__search {
    max-width: 520px;
    margin-bottom: 56px;
  }
}


#nCanvasRender{
  position: absolute;
  left: 0;
  top: 0;
}