.partners-section {
  padding: 60px 0 70px;
  //background-color: $color-grey-f8;

  @include respond-to("tablet-middle") {
    padding: 50px 0;
  }

  &__title {
    margin: 0 0 36px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -42px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 53px;

    @include respond-to("desktop") {
      width: 33.33%;
    }

    @include respond-to("tablet") {
      width: 50%;
    }

    @include respond-to("phablet") {
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      align-self: center;
      filter: brightness(0) saturate(100%) invert(84%) sepia(24%) saturate(137%) hue-rotate(150deg) brightness(89%) contrast(84%);
      transition: 0.6s ease;
    }
    &:hover{
      img{
        filter: none;
      }
    }
  }
}
