.share-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    display: block;
    fill: $color-grey-cf;
    transition: 0.2s;
  }

  @include respond-to-min("desktop") {
    &:hover,
    &:focus {
      outline: none;

      svg {
        fill: $color-main;
      }
    }
  }
}


.share-block {
  position: relative;
}

.share-tip{
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  overflow: hidden;
  transition: 0.2s linear;
  opacity: 0;
  &__links{
    display: flex;
    align-items: center;
  }
  &__link{
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    flex-shrink: 0;
    @include respond-to-min("desktop") {
      &:hover{
        transform: scale(1.2);
      }
    }
  }

  &.active{
    width: 160px;
    opacity: 1;
  }
}