.simple-section {
  padding-bottom: 93px;

  @include respond-to("tablet-middle") {
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    padding: 58px 25px;
    background-color: $color-grey-f8;

    @include respond-to("tablet-middle") {
      display: block;
    }
  }

  &__item {
    width: calc(100% / 3);

    @include respond-to("tablet-middle") {
      width: 100%;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
