.text-image-block {
  display: flex;
  background-color: $color-white;
  box-shadow: 2px 2px 19px rgba(33, 43, 70, 0.05);

  @include respond-to("tablet") {
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 310px;
    padding: 40px 0 40px 24px;
    flex-shrink: 0;

    @include respond-to("tablet") {
      display: block;
      padding: 30px 24px 0;
    }

    img {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      height: auto;
      align-self: center;
    }
  }

  &__main {
    padding: 30px 64px 36px 24px;

    @include respond-to("tablet") {
      padding: 30px 24px;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3333;

    @include respond-to("tablet") {
      margin-bottom: 16px;
      font-size: 20px;
    }
  }

  &__text {
    font-family: $secondFont;
    font-size: 15px;
    line-height: 1.7333;
    color: $color-dark-5a;

    p {
      margin: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: $color-dark-5a;
      transition: 0.2s;

      &:hover,
      &:focus {
        outline: none;
        color: $color-blue;
      }
    }
  }
}
