.vacancy-section {
  padding: 45px 0;

  @include respond-to("tablet-middle") {
    padding: 35px 0;
  }
  &__title {
    margin: 0 0 58px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(50% - 18px);

    &:nth-child(n + 3) {
      margin-top: 36px;
    }

    @include respond-to("tablet-middle") {
      width: calc(50% - 8px);

      &:nth-child(n + 3) {
        margin-top: 16px;
      }
    }

    @include respond-to("tablet") {
      width: 100%;

      &:nth-child(n + 2) {
        margin-top: 16px;
      }
    }
  }
}
