.inner-page__filter
  .inner-page__filter-title Фильтры
  select.inner-page__filter-select(name="filter-select-1")
    option(value="0", selected) Вендор
    option(value="1") Значение 1
    option(value="2") Значение 2
    option(value="3") Значение 3
  select.inner-page__filter-select(name="filter-select-2")
    option(value="0", selected) Класс СЗИ
    option(value="1") Значение 1
    option(value="2") Значение 2
    option(value="3") Значение 3