section.direction-section
  .direction-section__container.container 
    +title('Направления деятельности', 'Еще один какой-нибудь уточняющий подзаголовок для этого раздела', 'direction-section__title')

    ul.direction-section__list 
      li.direction-section__item.dir-card
        .dir-card__image
          img(src="images/altrix/direction-1.jpg", srcset="images/altrix/direction-1@2x.jpg 2x", width="632", height="316", alt="")
        .dir-card__content
          .dir-card__icon 
            +svg("#altrix_sphere")( width="91", height="91")
          .dir-card__bottom
            .dir-card__title Текстовый текст
            a.dir-card__readmore.arrow-link(href="#") Подробнее
              +svg('#altrix_triangle-right')(width="7", height="10")

      li.direction-section__item.dir-card
        .dir-card__image
          img(src="images/altrix/direction-1.jpg", srcset="images/altrix/direction-1@2x.jpg 2x", width="632", height="316", alt="")
        .dir-card__content
          .dir-card__icon 
            +svg("#altrix_notebook")(width="98", height="96")
          .dir-card__bottom
            .dir-card__title Киберучения
            a.dir-card__readmore.arrow-link(href="#") Подробнее
              +svg('#altrix_triangle-right')(width="7", height="10")

      li.direction-section__item.dir-card
        .dir-card__image
          img(src="images/altrix/direction-1.jpg", srcset="images/altrix/direction-1@2x.jpg 2x", width="632", height="316", alt="")
        .dir-card__content
          .dir-card__icon 
            +svg("#altrix_notebook")(width="98", height="96")
          .dir-card__bottom
            .dir-card__title Киберучения
            a.dir-card__readmore.arrow-link(href="#") Подробнее
              +svg('#altrix_triangle-right')(width="7", height="10")
				
      li.direction-section__item.dir-card
        .dir-card__image
          img(src="images/altrix/direction-1.jpg", srcset="images/altrix/direction-1@2x.jpg 2x", width="632", height="316", alt="")
        .dir-card__content
          .dir-card__icon 
            +svg("#altrix_sphere")( width="91", height="91")
          .dir-card__bottom
            .dir-card__title Текстовый текст
            a.dir-card__readmore.arrow-link(href="#") Подробнее
              +svg('#altrix_triangle-right')(width="7", height="10")

  .gradient(style="height: 61.62%")