section.direction-section
    .direction-section__container.container
        +title('Направления деятельности', 'Еще один какой-нибудь уточняющий подзаголовок для этого раздела', 'direction-section__title')

        ul.direction-section__list
            li.direction-section__item.dir-card
                .dir-card__image(data-displacement='images/altrix/placeholder.png' data-intensity='-0.65' data-speedin='1.2' data-speedout='1.2')
                    img(src='images/altrix/empty.png' alt='Image')
                    img(src='images/altrix/direction-1.jpg' alt='Image')
                .dir-card__content
                    .dir-card__icon
                        +svg("#altrix_sphere")( width="91", height="91")
                    .dir-card__bottom
                        .dir-card__title Текстовый текст
                        a.dir-card__readmore.arrow-link(href="#") Подробнее
                            +svg('#altrix_triangle-right')(width="7", height="10")

            li.direction-section__item.dir-card
                .dir-card__image(data-displacement='images/altrix/placeholder.png' data-intensity='-0.65' data-speedin='1.2' data-speedout='1.2')
                    img(src='images/altrix/empty.png' alt='Image')
                    img(src='images/altrix/direction-1.jpg' alt='Image')
                .dir-card__content
                    .dir-card__icon
                        +svg("#altrix_notebook")(width="98", height="96")
                    .dir-card__bottom
                        .dir-card__title Киберучения
                        a.dir-card__readmore.arrow-link(href="#") Подробнее
                            +svg('#altrix_triangle-right')(width="7", height="10")

            li.direction-section__item.dir-card
                .dir-card__image(data-displacement='images/altrix/placeholder.png' data-intensity='-0.65' data-speedin='1.2' data-speedout='1.2')
                    img(src='images/altrix/empty.png' alt='Image')
                    img(src='images/altrix/direction-1.jpg' alt='Image')
                .dir-card__content
                    .dir-card__icon
                        +svg("#altrix_notebook")(width="98", height="96")
                    .dir-card__bottom
                        .dir-card__title Киберучения
                        a.dir-card__readmore.arrow-link(href="#") Подробнее
                            +svg('#altrix_triangle-right')(width="7", height="10")

            li.direction-section__item.dir-card
                .dir-card__image(data-displacement='images/altrix/placeholder.png' data-intensity='-0.65' data-speedin='1.2' data-speedout='1.2')
                    img(src='images/altrix/empty.png' alt='Image')
                    img(src='images/altrix/direction-1.jpg' alt='Image')
                .dir-card__content
                    .dir-card__icon
                        +svg("#altrix_sphere")( width="91", height="91")
                    .dir-card__bottom
                        .dir-card__title Текстовый текст
                        a.dir-card__readmore.arrow-link(href="#") Подробнее
                            +svg('#altrix_triangle-right')(width="7", height="10")

    .gradient(style="height: 61.62%")