section.inner-page__accordion.accordion
    .container
        h2.small-title Часто задаваемые вопросы по защите АСУ
        .accordion-item
            .accordion-heading
                p Достижение требуемого уровня защищенности информации, обеспечение ее доступности, целостности и конфиденциальности в критической информационной инфраструктуре и в технологических сегментах.
                b
            .accordion-content
                p Основными целями реализации информационной защиты Автоматизированной системы управления (АСУТП),  являются снижение рисков возникновения инцидентов информационной безопасности, обеспечение непрерывности технологического процесса и соблюдение требований регуляторов в случае, если предприятие попадает под требования ФЗ-187 (О критической информационной инфраструктуре), приказ ФСТЭК №31 или другие отраслевые нормативные документы.
        
        .accordion-item
            .accordion-heading
                p Сколько длится и из каких этапов состоит проект комплексной защиты АСУ ТП?
                b
            .accordion-content
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo velit quam fugiat quibusdam, sunt eveniet iusto sint dignissimos facere minus ullam consectetur recusandae. Sunt omnis dicta ex reiciendis, reprehenderit cum.
        
        .accordion-item
            .accordion-heading
                p Есть ли особенности при реализации проекта защиты АСУ ТП КВО (критически важных объектов)?
                b
            .accordion-content
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti labore vitae ducimus quam corrupti harum rem fugit tenetur, maiores in repellendus itaque molestias similique reprehenderit quod officia exercitationem alias quae!