.pptx-sheme
    .pptx-sheme__title DevOps - это новый способ организации работы, который повышает ценность для клиента и дает преимущества как для разработки, так и для эксплуатации вашего продукта.
    .pptx-sheme__flex
        .pptx-sheme__left
            .pptx-sheme__box
                .pptx-sheme__box-title Определение
                .pptx-sheme__box-text DevOps - это новый подход к оптимизации и управлению комплексным предоставлением услуг и операциями. Он применяет набор принципов для преобразования всего жизненного цикла поставки программного обеспечения, чтобы внедрить новые практики, основанные на технологиях.
            .pptx-sheme__prefs
                .pptx-sheme__prefs-title Принципы
                ul.pptx-sheme__prefs-list.pptx-sheme__list
                    li Культура совместной ответственности и сотрудничества
                    li Сквозное управление услугами
                    li Многопрофильные команды
                    li Создание дополнительной ценности
                    li Автоматизация (почти;) всего
                    li Измерение (почти;) всего
                    li Непрерывное совершенствование

        .pptx-sheme__center
            .pptx-sheme__center-title Жизненный цикл программного обеспечения
            .pptx-sheme__center-img
                img(src="images/altrix/pptx-sheme.svg" alt="")
            .pptx-sheme__new
                .pptx-sheme__new-title Новые практики:
                ul.pptx-sheme__new-list.pptx-sheme__list
                    li Непрерывная интеграция
                    li Непрерывное тестирование
                    li Непрерывная доставка
                    li Непрерывная эксплуатация
            .pptx-sheme__arrow
                img(src="images/altrix/pptx-arrow.svg" alt="")
            .pptx-sheme__info Применение принципов DevOps к SDLC приводит к новым методам работы, которые приносят пользу как разработке, так и эксплуатации.

        .pptx-sheme__right
            .pptx-sheme__box
                .pptx-sheme__box-title Цель
                .pptx-sheme__box-text Основная цель DevOps - улучшить переход от идеи к созданию ценности для клиента, благодаря применению среды, в которой многопрофильные команды работают совместно, чтобы постоянно и в более быстром темпе предоставлять высококачественные решения, которые подходят для успешного выполнения работы.
            .pptx-sheme__prefs
                .pptx-sheme__prefs-title Выгода
                ul.pptx-sheme__prefs-list.pptx-sheme__list
                    li Повышает частоту и качество развертываний и выпусков.
                    li Повышает эффективность инноваций и принятия рисков.
                    li Убыстряет вывод на рынок
                    li Создание дополнительной ценности
                    li Повышает качество решения и эксплуатационную надежность
                    li Улучшает среднее время восстановления (MTTR)
